

.container {
    font-size: 1.5em;
    display: flexbox;
    text-align: center;
    



}

.img {
    flex-direction: column;
    text-align: center;
    margin-top: -20%;

}

.bloco-1 {

    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 340px;
    font-size: 0.8em;
}



.programar-passo {
    max-width: 410px;
    margin: auto;
    box-shadow: 0 0 1em black;
    background-color: whitesmoke;
    padding: 1% 0%;
   
}

.btn-inicio {
    color: white;
    background-color: blue;
    padding: 9px 30px;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    border: 3px solid black;
    border-radius: 5px;

}
.btn-inicio:hover{

background-color: transparent;
color: black;
transition: 1s;
background-color: antiquewhite;

}

* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: block;

}
